<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head> 
<body>
    {{>navbar}}

    <!-- Main header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-item-center">
                        <figure>
                            <img src="./Images/404er.webp" alt="AD" title="img-fluid" title="CoderAd">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Sorry for inconvinience!</p>
                        <h1>Your Page was not found!!!</h1>
                        <a href="/"><button>Back</button></a>
                    </div>
                    <!-- right side div -->                   
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    {{>footer}}
</body>
</html>