<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head> 
<body>
    {{>navbar}}

    <!-- Main header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-item-center">
                        <figure>
                            <img src="./Images/rain.jpeg" alt="AD" title="img-fluid" title="CoderAd" width="300" height="400">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App <span class="text_clr">COLUD GAZING</span></p>
                        <h1>We are from class TE9 <br>
                            Nehal-33109 <br>
                            Ameya-33121 <br>
                            Himanshu 33129. <br> <span class="text_clr">Cloud Gazing</span></h1>
                        <a href="/weather"><button>Check weather</button></a>
                    </div>
                    <!-- right side div -->                   
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    {{>footer}}
</body>
</html>